body {
    padding-top: 5%;
}

#abacus-container {
    max-width: 9in;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.wire {
    width: auto;
    height: 10px;
    background-color: black;
}